.photosRow {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.selectCategory {
    height: calc(100vh - 210px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
