.photo {
    border-radius: 10px;
}

.photo:hover {
    transition: all 1s;
}

.click {
    position: absolute;
    font-size: 50px;
    transition: all 1s;
    bottom: 0;
    margin-bottom: 15px;
    margin-left: 170px;
}

@media (max-width: 567px) {
    .photo {
        width: 370px !important;
    }
    .imgWrapper {
        width: 370px !important;
    }
}